<div class="container-fluid">
    <h1 class="text-center text-danger mb-5 fadeIn classyFont">A little about Us!</h1>
    <div class="row">
        <div class="col-md">
            <h3 class="text-center text-danger mb-3 fadeIn classyFont">Where it all began...</h3>
            <p>Tony Spanelli had always loved beautiful Italy with its disgusted, distinct decorations. It was a place where he felt active. He was a considerate, special, beer drinker with pretty arms and nice toenails. His friends saw him as an attractive, ashamed angel. Once, he had even made a cup of tea for a lucky baby. That's the sort of man he was. Tony walked over to the window and reflected on his innovative surroundings. The sun shone like smiling flamingos. Then he saw something in the distance, or rather someone. It was the figure of Sofia Spanelli. Sofia was a gracious friend with happy arms and strong toenails. Tony gulped. He was not prepared for Sofia.As Tony stepped outside and Sofia came closer, he could see the drab glint in her eye.
                
                Sofia gazed with the affection of 4655 adorable gentle giraffes. She said, in hushed tones, "I love you and I want restaurant."
                
                Tony looked back, even more happy and still fingering the lovely banana. "Sofia, I love you, we will make it," he replied.
                
                They looked at each other with surprised feelings, like two gentle, giant gerbils partying at a very remarkable wedding, which had classical music playing in the background and two giving uncles loving to the beat.
                
                Tony regarded Sofia's happy arms and strong toenails. "I feel the same way!" revealed Tony with a delighted grin. 
                Sofia looked delighted, her emotions blushing like a pretty, petite piano. Then Sofia came inside for a nice drink of beer.
                </p>
        </div>
        <div class="col-md bg-light">
            <div class="imgBox bg-light">
                <img class="storyImg" src="./../../assets/big-italian-family.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <div class="col-md">
            <div class="imgRow bg-light">
                <img src="./../../assets/happy-staff.jpg" alt="">
                <img src="./../../assets/wait-staff.jpg" alt="">
                <img src="./../../assets/wait-staff2.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md bg-light">
            <div class="imgBox bg-light">
                <img class="storyImg" src="./../../assets/happy-chef.jpg" alt="">
            </div>
        </div>
        <div class="col-md">
            <h3 class="text-center text-danger mb-3 fadeIn classyFont">... and where we are!</h3>
            <p>Tony Spanelli had always loved beautiful Italy with its disgusted, distinct decorations. It was a place where he felt active. He was a considerate, special, beer drinker with pretty arms and nice toenails. His friends saw him as an attractive, ashamed angel. Once, he had even made a cup of tea for a lucky baby. That's the sort of man he was. Tony walked over to the window and reflected on his innovative surroundings. The sun shone like smiling flamingos. Then he saw something in the distance, or rather someone. It was the figure of Sofia Spanelli. Sofia was a gracious friend with happy arms and strong toenails. Tony gulped. He was not prepared for Sofia.As Tony stepped outside and Sofia came closer, he could see the drab glint in her eye.
                Sofia gazed with the affection of 4655 adorable gentle giraffes. She said, in hushed tones, "I love you and I want restaurant."
                Tony looked back, even more happy and still fingering the lovely banana. "Sofia, I love you, we will make it," he replied.
                They looked at each other with surprised feelings, like two gentle, giant gerbils partying at a very remarkable wedding, which had classical music playing in the background and two giving uncles loving to the beat.
                Tony regarded Sofia's happy arms and strong toenails. "I feel the same way!" revealed Tony with a delighted grin. 
                Sofia looked delighted, her emotions blushing like a pretty, petite piano. Then Sofia came inside for a nice drink of beer.
                </p>
        </div>
    </div>

</div>