body{
    height: 100vh;
}


.imgSize{
    height: 600px;
}

.waiterPic{
    z-index: 10;
    height: 400px;
}
.restarauntPic{
    height: 410px;
    position: relative;
    left: -40px;
    top: -407px;
    margin-top: 0;
    z-index: -1;
    animation: slideIn .7s ease-in;
    animation-fill-mode: forwards;
}

.hireSection{
    max-height: 450px;
}

@keyframes slideIn {
    0%{transform: skewX(53deg) translateX(-1000px);}
    100%{transform: skewX(0deg) translateX(0px);}

}

.hireBtn{
    margin-right:13px;
}

.hireContent{
    margin-top: -405px;
    opacity: 0;
    animation: fadeIn .3s ease-in .7s   forwards;
}


ul li {
    list-style: none;
    padding-right: 5px;
    margin-right: 40px;
}

ul li:hover{
    color:red;
}


@media only screen and (max-width: 2166){
    .restarauntPic{
        left: -500px;
        margin-top: 0;
        margin-top: -445px;
    }

    .hireContent{
        margin-top: 0px;
    }

}
