.cardImg{
    height: 500px;
}

.header-img-font{
    font-size: 4rem;
}

.buttonSpot{
    margin-left: 40%;
}

.content{
    width: 100%;
    background-color: rgba(0,0,0,.5);
    margin-top: 20%;
    padding: 10px;
}



@media only screen and (max-width: 600px) {
    .buttonSpot{
        margin-left:25%;
    }
}

@media only screen and (min-width:1564px){
    .content{
        margin-top: 280px;
    }

    .buttonSpot{
        margin-left: 47%;
    }
}