<main>
    <section id="editOrder">
        <h1 class="classyFont text-danger">Your Order</h1>
        <button class="btn btn-outline-danger ">Add More Items</button>
        <hr class="my-4">
        <h2 class="classyFont text-danger">Other Items You May Like!!</h2>

        <div class="extraContainer">
            <div *ngFor="let item of addExtras">
                <div class="imgBg" style="background-image: url('{{item.img}}');">
                    <div class="extraCard">
                        <h3 class="text-white">{{item.name}}</h3>
                        <h4>${{item.price}}.00</h4>
                        <button class="btn btn-outline-light">Add to Order</button>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="tableContainer">
            <table class="table table-striped">
                <tbody>
                    <tr *ngFor="let item of cart">
                        <td><img src="{{item.img}}" class="tableImg" alt="food image"></td>
                        <td class="cartItem">{{item.name}}</td>
                        <th class="cartItem" scope="row">
                            <button (click)="onRemove(item.id)"><i class="fa fa-minus"></i></button>
                            {{item.quantity}}
                            <button><i class="fa fa-plus"></i></button>
                        </th>
                        <td class="cartItem">${{item.price}}.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section id="reviewOrder bg-light">
        <h2 class="classyFont text-danger">Review Your Order</h2>
    </section>
</main>
