<div class="jumbotron footer-section">
    <div class="top-list-section">
        
        <div class="top-logo-text">
            <h1 class="text-center">Spanelli's</h1>
        </div>
        <ul class="top-list">
            <li class="list-item"><a [routerLink]="['/contactus']">Contact Us</a></li>
            <li class="list-item"><a [routerLink]="['/careers']">Careers</a></li>
            <li class="list-item"><a [routerLink]="['/story']">Our Story</a></li>
        </ul>
    </div>

    <div class="top-list-section">
        <ul class="top-list" id="icon-list">
            <li class="list-item"><i class="fa fa-facebook fa-3x"></i></li>
            <li class="list-item"><i class="fa fa-instagram fa-3x"></i></li>
            <li class="list-item"><i class="fa fa-twitter fa-3x"></i></li>
        </ul>
        <ul class="top-list">
            <li class="list-item">@2021 Spanelli's International All Rights Reserved</li>
            <li class="list-item"><a [routerLink]="['/terms']">Terms</a></li>
            <li class="list-item"><a [routerLink]="['/privacypolicy']">Privacy Policy</a></li>
        </ul>
    </div>
</div>