.top-list-section{
    display: flex;
}

.footer-section{
    margin-bottom:0;
}

.top-list{
    flex:2;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.list-item a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.list-item a:hover{
    color:red;
}

.list-item i:hover{
    color:red;
}

#icon-list{
    flex:1;
}

.top-logo-text{
    flex:1;
}

.top-logo-text h1{
    font-family: Dancing Script;
    font-size: 4rem;
    padding-bottom: 35px;
}


@media only screen and (min-width: 650px) and (max-width: 1100px){
    .top-list-section #bottom-list{
        flex-direction: column-reverse;
        text-align: center;
        margin-top: -50px;
    }

    .top-list-section #bottom-list .list-item{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 650px) {
    .top-list-section{
        flex-direction: row;
    }
    .top-list{
        flex-direction: column-reverse;
    }

    #icon-list{
        margin-top: -20px;
        margin-left: 55px;
    }

    #icon-list li i{
        margin-bottom: 20px;
    }

    #top-section-list{
        margin-bottom: -5px;
    }

    #top-section-list-item{
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #bottom-list{
        margin-left: 25px;
    }
}